/* Add animation and transition to the 'animated-text' class */
.body{
    font-size: 0.9rem;
}
  
.title{
    font-size: 3rem;

}


@media screen and (max-width: 400px) {
    .title{
        font-size: 1.9rem;
    }

    .subtitle{
        font-size: 0.9rem;
    }
  }