/* AboutUs.css */
.about-heading {
    text-align: center;
    font-family: Copperplate, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #312d2d;
    padding: 20px;
  }
  
  .about-box {
    background: linear-gradient(45deg, rgba(51, 51, 51, 0.8), rgba(17, 17, 17, 0.8));
    padding: 20px;
    border-radius: 10px;
    animation: gradientChange 15s infinite alternate;
    text-align: center;
    margin-top: 20px;
    color: white;
    position: relative;
  }
  
  .about-box::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.8));
    border-radius: 20px;
    z-index: -1;
  }
  
  .person-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  @keyframes gradientChange {
    0% {
      background: linear-gradient(45deg, rgba(51, 51, 51, 0.8), rgba(17, 17, 17, 0.8));
    }
    100% {
      background: linear-gradient(45deg, rgba(17, 17, 17, 0.8), rgba(51, 51, 51, 0.8));
    }
  }
  
  .about-text {
    font-weight: bold;
    font-family: Copperplate, sans-serif;
  }
  
  .bg {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(14, 21, 31, 0.5), #575757 90%);
  }
  
  .text {
    color: rgb(194, 194, 194);
    font-family: "Copperplate", "Fantasy";
  }
  