.gallery-wrapper {
    width: absolute; 
    height: absolute;
    overflow: hidden;
    position: relative;
    margin: 0 auto; 
  }
  
  .gallery-container {
    display: absolute;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
    position:inherit;
    object-fit:contain;
    margin: 0 0; 
  }
