.bg {
  min-height: 100vh;
  background-image: linear-gradient(to right, #000000, #02023f , #000000);
  background-size: cover;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .subtitle {
    font-size: 12px;
  }
  .glowing-text span {
    font-size: 60px;
    text-align: top;
  }
  .skyline{
    text-align: bottom;
    padding-bottom: 0%;
  }
}


.sparkles {
  position: relative;
  display: flex;
}

.sparkles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));  
}

.sparkles span:nth-child(even)
{
  background: #f4f3f2;
  box-shadow: 0 0 0 10px #cd739244,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate {
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}

.text {
  color: rgb(194, 194, 194);
  font-family: "Copperplate", "Fantasy";
}

.alternate_bg {
  min-height: 100vh;
  background-image: linear-gradient(to right, #56565e, #56565e, #56565e, #56565e, #56565e);
}

.skyline {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-origin: border-box;
  backface-visibility: visible;
  padding-bottom: 40%;
}

.header {
  text-align: center;
}

/* Center-align subheadings in sections */
.section {
  text-align: center;
  padding: 50px;
  color: white;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section h4 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: white;
}

/* App Container */
.app-container {
  background: rgb(0, 0, 0);
  padding: 10px;
}

/* Main Title */
.main-title {
  text-align: center;
}

/* Event time */
.section main-event {
  font-size: 50px;
  text-align: top;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: #3533cd 1px 0 20px, #3533cd 1px 0 20px;
  background-clip: text;
}

/* Glowing Text*/
.glowing-text {
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: top;
  color: white;
  letter-spacing: -4px;
  position: sticky;
  /*text-shadow: #3533cd 1px 0 20px;*/
}

/* Gradient Background for "U" in "UTRA" */
.letter-u {
  text-shadow: #5E17EB 1px 0 20px, #5E17EB 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "T" in "UTRA" */
.letter-t {
  text-shadow:#8C52FF 1px 0 20px, #8C52FF 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "R" in "UTRA" */
.letter-r {
  /*text-shadow: rgb(53, 250, 240) 1px 0 20px, rgb(46, 221, 212) 1px 0 20px;*/
  text-shadow: #CB6CE6 1px 0 20px, #CB6CE6 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "A" in "UTRA" */
.letter-a {
  text-shadow: #FF66C4 1px 0 20px, #FF66C4 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "H" in "HACKATHON" */
.letter-h {
  /*text-shadow: #3533cd 1px 0 20px, #3533cd 1px 0 20px;*/
  text-shadow: #227070 1px 0 20px, #227070 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "A" in "HACKATHON" */
.letter-a1 {
  text-shadow: #5CE1E6 1px 0 20px, #5CE1E6 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "C" in "HACKATHON" */
.letter-c {
  /*text-shadow: #ae71b1 1px 0 20px, #ae71b1 1px 0 20px;*/
  text-shadow:#38B6FF 1px 0 20px, #38B6FF 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "K" in "HACKATHON" */
.letter-k {
  text-shadow: #5271FF 1px 0 20px, #5271FF 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "S" in "HACKS" */
.letter-S {
  text-shadow: #004AAD 1px 0 20px, #004AAD 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "A" in "HACKATHON" */
.letter-a2 {
  text-shadow: #3533cd 1px 0 20px, #3533cd 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "T" in "HACKATHON" */
.letter-t1 {
  text-shadow: #2eddd3 1px 0 20px, #2eddd3 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "H" in "HACKATHON" */
.letter-h1 {
  text-shadow: #ae71b1 1px 0 20px, #ae71b1 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "O" in "HACKATHON" */
.letter-o {
  text-shadow: #bfbfe2 1px 0 20px, #bfbfe2 1px 0 20px;
  color: white;
  background-clip: text;
}

/* Gradient Background for "N" in "HACKATHON" */
.letter-n {
  text-shadow: #3533cd 1px 0 20px, #3533cd 1px 0 20px;
  color: white;
  background-clip: text;
}

.about {
  font-size: 24px;
  text-align: center;
  color: white;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-images img {
  width: 100px; /* Set your desired width */
  height: auto;
  margin: 0 10px;
  animation: fadeIn 0.5s ease-out;
}

.home-images img:nth-child(even) {
  animation-delay: 0.2s; /* Add a delay for even-numbered images */
}